<app-header></app-header>

<div *ngFor="let element of home.ele">
  <div class="page-banner overlay-dark bg-image" style="background-image: url(../../../assets/home/{{element.about_Image}})" >
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal" style="color: #bcffd8;">About Us</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div>
</div>
<div id="about" class="section wow fadeIn" >
<div class="container" *ngFor="let element of home.ele">
    <!-- end title -->
    <div class="row">
      <div class="col-md-6">
          <div class="message-box">
            <h4>What We Do</h4>
            <h2>Vaccine</h2>
            <p class="lead"> {{element.about_Text}}</p>
          </div>
          <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
          <div class="post-media wow fadeIn">
            <img src="../../../assets/home/{{element.about_Image}}" alt="" class="img-responsive">
            <!-- <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a> -->
          </div>
          <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    
    <!-- end row -->
    <hr class="hr1">
    <h3>Team Developer</h3>
    <hr class="hr1">
    <div class="row">
     
      <div class="col-md-3 col-sm-6 col-xs-12">
        
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/A0.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/A0.jpg" alt="" class="img-responsive">
            </div>
            <h3>Ashraf Awwad</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/Amjad.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/Amjad.jpg" alt="" class="img-responsive">
            </div>
            <h3>Amjad Ayman</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/A0.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/A0.jpg" alt="" class="img-responsive">
            </div>
            <h3>Abdallah Obiad</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/A0.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/A0.jpg" alt="" class="img-responsive">
            </div>
            <h3>Mohammad Albashtawi</h3>
          </div>
          <!-- end service -->
      </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
<!-- <app-footer></app-footer> -->
