<app-header></app-header>

<div id="about" class="section wow fadeIn" *ngFor="let element of home.ele">
<div class="container">
    <div class="heading" >
      <span class="icon-logo"><img src="../../../assets/home/{{element.about_Image}}" alt="#"></span>
      <h2>The Specialist Clinic</h2>
    </div>
    <!-- end title -->
    <div class="row">
      <div class="col-md-6">
          <div class="message-box">
            <h4>What We Do</h4>
            <h2>Clinic Service   </h2>
            <p class="lead"> {{element.about_Text}}</p>
          </div>
          <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
          <div class="post-media wow fadeIn">
            <img src="../../../assets/home/{{element.about_Image}}" alt="" class="img-responsive">
            <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
          </div>
          <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <hr class="hr1">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/clinic_01.jpg" alt="" class="img-responsive">
            </div>
            <h3>Digital Control Center</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/clinic_02.jpg" alt="" class="img-responsive">
            </div>
            <h3>Hygienic Operating Room</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/clinic_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/clinic_03.jpg" alt="" class="img-responsive">
            </div>
            <h3>Specialist Physicians</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <a href="../../../assets/life_care/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                <img src="../../../assets/life_care/images/clinic_01.jpg" alt="" class="img-responsive">
            </div>
            <h3>Digital Control Center</h3>
          </div>
          <!-- end service -->
      </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
<!-- <app-footer></app-footer> -->
