<app-header></app-header>

<div *ngFor="let element of home.ele">
  <div class="page-banner overlay-dark bg-image" style="background-image: url(../../../assets/home/{{element.about_Image}})" >
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
        <nav aria-label="Breadcrumb">
          <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
        <h1 class="font-weight-normal" style="color: #bcffd8;">About Us</h1>
      </div> <!-- .container -->
    </div> <!-- .banner-section -->
  </div>
</div>
<div id="about" class="section wow fadeIn" >
<div class="container" *ngFor="let element of home.ele">
    <!-- end title -->
    <div class="row">
      <div class="col-md-6">
          <div class="message-box">
            <h4>What We Do</h4>
            <h2>Vaccination Appointment Service</h2>
            <p class="lead"> {{element.about_Text}}</p>
          </div>
          <!-- end messagebox -->
      </div>
      <!-- end col -->
      <div class="col-md-6">
          <div class="post-media wow fadeIn">
            <img src="../../../assets/home/{{element.about_Image}}" alt="" class="img-responsive">
            <!-- <a href="http://www.youtube.com/watch?v=nrJtHemSPW4" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a> -->
          </div>
          <!-- end media -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
    <hr class="hr1">
    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="site-heading text-center">
                  <h3>We Offer To You</h3>
                  <h4> </h4>
              </div>
          </div>
      </div>
    <div class="message-box">
    <!-- <h2 class="center">We Offer To You</h2> -->
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <!-- <a href="../../../assets/life_care/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                <!-- <img src="../../../assets/life_care/images/clinic_01.jpg" alt="" class="img-responsive"> -->
                <img src="../../../assets/images/About_EasyToUse1.png" alt="" class="img-responsive">
            </div>
            <h3>Easy To Use System</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <!-- <a href="../../../assets/life_care/images/clinic_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                <!-- <img src="../../../assets/life_care/images/clinic_02.jpg" alt="" class="img-responsive"> -->
                <img src="../../../assets/images/About_Flexible1.png" alt="" class="img-responsive">
            </div>
            <h3>Flexible Appointment</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <!-- <a href="../../../assets/life_care/images/clinic_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
                <!-- <img src="../../../assets/life_care/images/clinic_03.jpg" alt="" class="img-responsive"> -->
                <img src="../../../assets/images/About_Reachable1.png" alt="" class="img-responsive">
            </div>
            <h3>Reachability From Anywhere</h3>
          </div>
          <!-- end service -->
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-widget">
            <div class="post-media wow fadeIn">
                <!-- <a href="../../../assets/life_care/images/clinic_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a> -->
               <!--  <img src="../../../assets/life_care/images/clinic_01.jpg" alt="" class="img-responsive"> -->
               <img src="../../../assets/images/About_Time1.png" alt="" class="img-responsive">
            </div>
            <h3>Saves Your Time</h3>
          </div>
          <!-- end service -->
      </div>
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
<!-- <style type="text/css">

</style> -->

<section id="team" class="team-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2>Our <span>Team</span></h2>
                        <h4>Meet our awesome team members</h4>
                    </div>
                </div>
            </div>
                <div class="row team-items">
                    <div class="col-md-3 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                <div class="overlay">
                                    <h4>Lorem Ipsum</h4>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                    <div class="social">
                                        <ul>
                                            <!-- <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="pinterest">
                                                <a href="#"><i class="fab fa-pinterest"></i></a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="vimeo">
                                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                            </li> -->
                                            <li class="github">
                                              <a href="https://github.com/Abdallah-Obaid" target="_blank"><i class="fab fa-github"></i></a>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="mailto:mohammadbeshtawi99@gmail.com"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Abdullah<br> Obaid</h4>
                                <!-- <span>Project Manager</span> -->
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                <div class="overlay">
                                    <h4>Lorem Ipsum</h4>
                                    <p>
                                          kING.
                                    </p>
                                    <div class="social">
                                        <ul>
                                            <!-- <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="pinterest">
                                                <a href="#"><i class="fab fa-pinterest"></i></a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="vimeo">
                                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                            </li> -->
                                            <li class="github">
                                              <a href="https://github.com/amjadayman" target="_blank"><i class="fab fa-github"></i></a>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="mailto:mohammadbeshtawi99@gmail.com"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Amjad<br> Altheeb</h4>
                                <!-- <span>App Developer</span> -->
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 single-item">
                        <div class="item">
                            <div class="thumb">
                                <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                                <div class="overlay">
                                    <h4>Lorem Ipsum</h4>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                    <div class="social">
                                        <ul>
                                            <!-- <li class="twitter">
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li class="pinterest">
                                                <a href="#"><i class="fab fa-pinterest"></i></a>
                                            </li>
                                            <li class="instagram">
                                                <a href="#"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="vimeo">
                                                <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                            </li> -->
                                            <li class="github">
                                              <a href="https://github.com/AshrafAwwad96" target="_blank"><i class="fab fa-github"></i></a>
                                          </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="info">
                                <span class="message">
                                    <a href="mailto:mohammadbeshtawi99@gmail.com"><i class="fas fa-envelope-open"></i></a>
                                </span>
                                <h4>Ashraf<br> Awwad</h4>
                                <!-- <span>Web designer</span> -->
                                <span>Full Stack Developer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 single-item">
                      <div class="item">
                          <div class="thumb">
                              <img class="img-fluid" src="https://i.ibb.co/JC4skS0/team-animate.jpg" alt="Thumb">
                              <div class="overlay">
                                  <h4>Lorem Ipsum</h4>
                                  <p>
                                      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                  </p>
                                  <div class="social">
                                      <ul>
                                        <!--   <li class="twitter">
                                              <a href="#"><i class="fab fa-twitter"></i></a>
                                          </li>
                                          <li class="pinterest">
                                              <a href="#"><i class="fab fa-pinterest"></i></a>
                                          </li>
                                          <li class="instagram">
                                              <a href="#"><i class="fab fa-instagram"></i></a>
                                          </li>
                                          <li class="vimeo">
                                              <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                          </li> -->
                                          <li class="github">
                                              <a href="https://github.com/mohabeshtawi" target="_blank"><i class="fab fa-github"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                          <div class="info">
                              <span class="message">
                                  <a href="mailto:mohammadbeshtawi99@gmail.com"><i class="fas fa-envelope-open"></i></a>
                              </span>
                              <h4>Mohammad Albeshtawi</h4>
                              <!-- <span>Project Manager</span> -->
                              <span>Full Stack Developer</span>
                          </div>
                      </div>
                  </div>
                </div>
        </div>
    </section>
<!-- <app-footer></app-footer> -->
