<app-header></app-header>
<!-- <p>edit-profile-info works!</p> -->

<div class="body1">
  <div class="container">
    <div class="main-body">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li> -->
              <li class="breadcrumb-item"><a href="client/MyProfile">My Profile</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
          <!-- /Breadcrumb -->
        <div class="row" [formGroup]="UpdateForm">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/{{userProfile.image}}" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 formControlName="image" [(ngModel)]="userProfile.image"></h4>
                                <button class="btn btn-primary">Upload Photo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">First Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" matInput formControlName="first_Name"
                                [(ngModel)]="userProfile.first_Name">
                            </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">Last Name</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control" matInput formControlName="last_Name"
                              [(ngModel)]="userProfile.last_Name">
                          </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Social Security Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            <input type="text" class="form-control" matInput formControlName="ssn"
                            [(ngModel)]="userProfile.ssn">
                        </div>
                    </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Gender</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="Male" matInput formControlName="gender"
                                [(ngModel)]="userProfile.gender">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Birthdate</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="22/2/2022" matInput formControlName="birthdate"
                                [(ngModel)]="userProfile.birthdate">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="(962) 816-9029" matInput formControlName="phone"
                                [(ngModel)]="userProfile.phone">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="text" class="form-control" value="Amman, Tla'a Al-Ali" matInput formControlName="address"
                                [(ngModel)]="userProfile.address">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="email" class="form-control" value="example@domain.com" matInput formControlName="email"
                                [(ngModel)]="userProfile.email">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Password</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input type="password" class="form-control" value="Password" matInput formControlName="password"
                                [(ngModel)]="userProfile.password">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9 text-secondary">
                                <input (click)="save()" type="button" class="btn btn-primary px-4" value="Save Changes">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>

