<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">{{'dashboard_analytics' | translate}} </h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xl-4">
                <div class="card flat-card">
                    <div class="row-table">
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_patient}}</h5>
                                </div>
                                <span>Users</span>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-duotone fa-people-group"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_admin}}</h5>
                                </div>
                                <span>Admins</span>
                            </div>
                        </div>

                    </div>
                    <div class="row-table">
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="far fa-hospital"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_center}}</h5>
                                </div>
                                <span>Health Centers</span>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-solid fa-envelope"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.message.length}}</h5>
                                </div>
                                <span>Mails</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card flat-card widget-primary-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="feather icon-star-on"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{dashboardMainRestService.report.number_of_user}}</h4>
                            <h6>Total Users</h6>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card flat-card">
                    <div class="row-table">
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-solid fa-user-clock"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_absent}}</h5>
                                </div>
                                <span>Absent</span>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-solid fa-rectangle-list"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_request}}</h5>
                                </div>
                                <span>Requests</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-table">
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-syringe"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_first}}</h5>
                                </div>
                                <span>First Dose</span>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-syringe"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_second}}</h5>
                                </div>
                                <span>Second Dose</span>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <i class="fas fa-syringe"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.report.number_of_third}}</h5>
                                </div>
                                <span>Third Dose</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card flat-card widget-purple-card">
                    <div class="row-table">
                        <div class="col-sm-3 card-body">
                            <i class="fas fa-trophy"></i>
                        </div>
                        <div class="col-sm-9">
                            <h4>{{dashboardMainRestService.report.total_vaccinated}}</h4>
                            <h6>Total Dose Taken</h6>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card support-bar overflow-hidden">
                    <div class="card-body pb-0">
                        <h2 class="m-0">{{dashboardMainRestService.report.number_of_fizer +
                            dashboardMainRestService.report.number_of_sinopharm}}</h2>
                        <span class="text-c-blue">Total Vaccine Dose</span>
                        <p class="mb-3 mt-3">Total number of Vaccine Dose that come in.</p>
                    </div>
                    <div id="support-chart"></div>
                    <div class="card-footer bg-primary text-white">
                        <div class="row text-center">
                            <div class="col">
                                <h4 class="m-0 text-white">{{dashboardMainRestService.report.number_of_fizer}}</h4>
                                <span>Fizer</span>
                            </div>
                            <div class="col">
                                <h4 class="m-0 text-white">{{dashboardMainRestService.report.number_of_sinopharm}}</h4>
                                <span>Sinopharm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Health Centers</h5>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Center Name</th>
                                        <th>Vaccine Type</th>
                                        <th># Of Dose</th>
                                        <th>Expire Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let health of dashboardMainRestService.data">
                                        <td>{{health.center_Name}}</td>
                                        <td>{{health.vaccine_Type}}</td>
                                        <td>{{health.number_Of_Vaccine}}</td>
                                        <td>{{health.expire_Date }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div tabindex="1" id="ol-map" class="map-container">
                <div id="popup"></div>
            </div>
        </div>
    </div>

</div>