

.icon {
    background: transparent !important;
    border-radius: 100%;
    width: 20px!important;
    height: 11px!important;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none!important;
}
.badge-danger {
    color: #fff!important;
    background-color: #e74c3c!important;
}
.pcoded-header .dropdown .dropdown-toggle .badge {
    position: absolute;
    top: -16px !important;
    right: -11px;
    font-size: 12px;
}

// a:hover {
//     color: #1abc9c;
//     text-decoration: underline;
// }