
<!-- [ Main Content ] start -->
<div class="pcoded-main-container"
*ngFor="let fizer of dashboardMainRestService.fizer">
    <div class="pcoded-content" *ngFor="let sinopharm of dashboardMainRestService.sinopharm">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard Analytics</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- table card-1 start -->
            <div class="col-md-12 col-xl-4">
                <div class="card flat-card">
                    <div class="row-table">
                        <div class="col-sm-6 card-body br">
                            <div class="row">
                                <div class="col-sm-4">
                                  <i class="fas fa-user-friends"></i>
                                </div>
                                <div class="col-sm-8 text-md-center">
                                    <h5>{{dashboardMainRestService.data.length}}</h5>
                                    <span>Total Users</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 card-body">
                          <div class="row">
                              <div class="col-sm-4">
                                  <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
                              </div>
                              <div class="col-sm-8 text-md-center">
                                  <h5>{{dashboardMainRestService.message.length}}</h5>
                                  <span>Mails</span>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <!-- table card-1 end -->
            <!-- table card-2 start -->
            <div class="col-md-12 col-xl-4">
                <div class="card flat-card">
                  <div class="row-table">
                    <div class="col-sm-6 card-body br">
                        <div class="row">
                            <div class="col-sm-4">
                              <i class="far fa-hospital"></i>
                            </div>
                            <div class="col-sm-8 text-md-center">
                                <h5>{{dashboardMainRestService.centersData.length}}</h5>
                                <span>Number Of Health Center</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 card-body">
                        <div class="row">
                            <div class="col-sm-4">
                              <i class="fas fa-syringe"></i>
                            </div>
                            <div class="col-sm-8 text-md-center">
                                <h5>{{dashboardMainRestService.vaccinesData.length}}</h5>
                                <span>Number Of Vaccine Type</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="card support-bar overflow-hidden">
                    <div class="card-body pb-0">
                        <h2 class="m-0">{{fizer.number_of_fizer + sinopharm.number_of_sinopharm}}</h2>
                        <span class="text-c-blue">Total Vaccine Dose</span>
                        <p class="mb-3 mt-3">Total number of Vaccine Dose that come in.</p>
                    </div>
                    <div id="support-chart"></div>
                    <div class="card-footer bg-primary text-white">
                        <div class="row text-center">
                            <div class="col">
                                <h4 class="m-0 text-white">{{fizer.number_of_fizer}}</h4>
                                <span>Fizer</span>
                            </div>
                            <div class="col">
                                <h4 class="m-0 text-white">{{sinopharm.number_of_sinopharm}}</h4>
                                <span>Sinopharm</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Health Centers</h5>
                    </div>
                    <div class="card-body p-0">
                      <div class="table-responsive">
                          <table class="table table-hover mb-0">
                              <thead>
                                  <tr>
                                    <th>Center Name</th>
                                    <th>Vaccine Type</th>
                                    <th># Of Dose</th>
                                    <th>Expire Date</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let health of centerVaccineRestService.data" >
                                    <td>{{health.center_Name}}</td>
                                    <td>{{health.vaccine_Type}}</td>
                                    <td>{{health.number_Of_Vaccine}}</td>
                                    <td>{{health.expire_Date }}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
        </div>
    </div>
</div>
