<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"><i class="fas fa-cogs"></i> {{'manageUsers' | translate}}</h5>
                        </div>
                        <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a routerLink="/home"><i class="feather icon-home"></i></a></li>
                          <li class="breadcrumb-item active"><a routerLink="/admin/dashboard">{{'dashboard' | translate}}</a></li>
                            <li class="breadcrumb-item active">{{'manageUsers' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <h6><i class="fas fa-filter"></i> Filtering</h6>
        <div class="input-group for_margin">
          <div class="form-outline">
            
            <input id="search-focus" placeholder="Name,SSN,Address,Gender..."  type="text" id="form1" class="form-control"
            [value] ="info" (change)="inputValue($event)" />
          </div>
          <button type="button" (click)="search()" class="btn btn-primary btn-primary_mod">
            <i class="fas fa-search"></i>
          </button>
        </div>

        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">

<!-- prject ,team member start -->
<div class="col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>{{'usersInformaion'|translate}}</h5>
            <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>

                    <button type="button" class="btn  btn-primary1" (click)="openCreateDialog()" ><i class="fas fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>{{'ssn'|translate}}</th>
                            <th>{{'fullName'|translate}}</th>
                            <th>{{'gender'|translate}}</th>
                            <th>{{'birthdate'|translate}}</th>
                            <th>{{'address'|translate}}</th>
                            <th>{{'phone'|translate}}</th>
                            <th>{{'email'|translate}}</th>
                            <th>{{'opreation'|translate}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of manageUsersRestService.data">
                            <td>{{user.ssn}}</td>
                            <td>
                                <div class="d-inline-block align-middle">
                                    <!-- <img src="./assets/flat-able-lite-dashboard/images/user/avatar-4.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15"> -->
                                    <img class="img-radius wid-40 align-top m-r-15" src="../../../../assets/images/{{user.image}}">
                                    <div class="d-inline-block">
                                        <h6>{{user.first_Name+' '+user.last_Name}}</h6>
                                        <!-- <h6>{{user.first_Name}}</h6> -->
                                        <p class="text-muted m-b-0">@{{user.username}}</p>
                                    </div>
                                </div>
                            </td>
                            <!-- <td>{{user.last_Name}}</td> -->
                            <td>{{user.gender}}</td>
                            <td>{{user.birthdate | customeDate}}</td>
                            <td>{{user.address}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.email}}</td>
                            <td class="text-right">
                                <button type="button" class="btn  btn-danger" (click)="openDeleteDialog(user.id)">Delete</button>
                                <button type="button" class="btn  btn-secondary" (click)="openUpdateDialog(
                                  user.id,
                                  user.first_Name,
                                  user.last_Name,
                                  user.ssn,
                                  user.gender,
                                  user.birthdate,
                                  user.address,
                                  user.phone,
                                  user.email,
                                  user.password,
                                  user.username,
                                  user.image,
                                  user.role_Id
                                )">Edit</button>
                                <!-- <button type="button" class="btn  btn-danger" (click)="openDetailsDialog(user)">Details</button> -->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->



<!--------------------------------------- create Dialog --------------------------------------->

<ng-template #callCreateDialog>
    <mat-dialog-content class="mat-typography">

      <form class="col s12" [formGroup]="CreateForm">
        <div class="form-container">
          <h3 class="teal-text">Welcome</h3>

          <div class="row">

            <mat-form-field class="  col-6" appearance="fill">
              <!-- <div class=""> -->
              <mat-label>Fisrt Name</mat-label>
              <input id="first_Name" matInput formControlName="first_Name">
              <mat-error *ngIf="CreateForm.controls['first_Name'].hasError('required')">
                First Name is <strong>required</strong>
              </mat-error>
              <!-- </div> -->
            </mat-form-field>

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input id="last_name" matInput formControlName="last_Name">

              <mat-error *ngIf="CreateForm.controls['last_Name'].hasError('required')">
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class=" col-12" appearance="fill">
              <mat-label>SSN</mat-label>
              <input id="ssn"  formControlName="ssn" matInput>
              <mat-error *ngIf="CreateForm.controls['ssn'].hasError('required')">
                Ssn is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="row">

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label for="birthdate">Birthdate</mat-label>
              <input type="date" id="birthdate" matInput formControlName="birthdate">
            </mat-form-field>

            <div class="input_field radio_option col-6" style="margin-top: 15px;">
              <input type="radio" id="rd1" value="male" formControlName="gender">
              <label for="rd1">Male</label>
              <input type="radio" id="rd2" value="female" formControlName="gender" style="margin-left: 5px;">
              <label for="rd2">Female</label>
            </div>
          </div>

          <div class="row">
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Address</mat-label>
              <input  matInput formControlName="address">
            </mat-form-field>
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Phone</mat-label>
              <input id="phone" matInput formControlName="phone">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Email</mat-label>
              <input id="email" matInput formControlName="email">
              <mat-error
                *ngIf="CreateForm.controls['email'].hasError('email') && !CreateForm.controls['email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Username</mat-label>
              <input id="username" matInput formControlName="username">
              <mat-error *ngIf="CreateForm.controls['username'].hasError('required')">
                username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-6" appearance="fill">
              <mat-label>Password</mat-label>
              <input id="password" matInput formControlName="password">
              <mat-error
                *ngIf="CreateForm.controls['password'].hasError('minlength') && !CreateForm.controls['password'].hasError('required')">
                Please enter a Strong password
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-6" appearance="fill">
              <mat-label>Password Confirmation</mat-label>
              <input id="confirm_Password" matInput formControlName="confirm_Password"
                (change)="onChange()">
              <mat-error
                *ngIf="CreateForm.controls['confirm_Password'].hasError('minlength') && !CreateForm.controls['confirm_Password'].hasError('required')">
                Please enter strong password
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['confirm_Password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['confirm_Password'].hasError('mismatch')">
                Password Not Matched
              </mat-error>
            </mat-form-field>
          </div>

          <!-- <div class="row">
            <div class="col s6">
              <div class="file-input d-flex justify-content-center">
                <input type="file" class="file" #file formControlName="image" [(ngModel)]="user.image"
                  (change)="uploadFile(file.files)">
                <label for="file" (click)="file.click()">Choose Your Image</label>
              </div>
            </div>
          </div> -->
        </div>
      </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="!CreateForm.valid" mat-button [mat-dialog-close]="true"(click)="save()"  cdkFocusInitial>Save</button>
  </mat-dialog-actions>
  </ng-template>



<!--------------------------------------- Update Dialog --------------------------------------->

<ng-template #callUpdateDialog>

  <mat-dialog-content>
    <div class="">
      <div class="container">
        <div class="main-body">
          <div class="row" [formGroup]="UpdateForm">
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="../../../../assets/images/{{userProfile.image}}"
                      onerror="this.src='../../../../assets/images/defaultProfilePic.png'" alt="Admin"
                      class="rounded-circle" width="150">
                  </div>
                  <div class="col s6">
                    <div class="file-input d-flex justify-content-center">
                      <input type="file" class="file" #file formControlName="image" [(ngModel)]="userProfile.image"
                        (change)="uploadFile(file.files)" style="display:none;">
                      <button class="btn btn-success" (click)="file.click()"><i class="fas fa-upload"></i> Upload
                        Image</button>
                      <!-- <label for="file" (click)="file.click()"></label> -->
                    </div>
                    <!-- <input id="image" type="file" class="validate"> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card">
                <div class="card-body1">

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">First Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" matInput formControlName="first_Name"
                        [(ngModel)]="userProfile.first_Name" [readonly]="true">
                      <mat-error *ngIf="UpdateForm.controls['first_Name'].hasError('required')">
                        First Name is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" matInput formControlName="last_Name"
                        [(ngModel)]="userProfile.last_Name" [readonly]="true">
                      <mat-error *ngIf="UpdateForm.controls['last_Name'].hasError('required')">
                        Last Name is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <!-- <div class="row mb-3">
                          <div class="col-sm-3">
                              <h6 class="mb-0">SSN</h6>
                          </div>
                          <div class="col-sm-9 text-secondary">
                              <input type="text" class="form-control" matInput formControlName="ssn"
                              [(ngModel)]="userProfile.ssn" [readonly]="true">
                          </div>
                      </div> -->

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" value="Male" matInput formControlName="gender"
                        [(ngModel)]="userProfile.gender">
                      <mat-error *ngIf="UpdateForm.controls['gender'].hasError('required')">
                        Gender is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Birthdate</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="date" class="form-control" value="22/2/2022" matInput formControlName="birthdate"
                        [(ngModel)]="userProfile.birthdate">
                      <mat-error *ngIf="UpdateForm.controls['birthdate'].hasError('required')">
                        Birthdate is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" value="(962) 816-9029" matInput formControlName="phone"
                        [(ngModel)]="userProfile.phone">
                      <mat-error *ngIf="UpdateForm.controls['phone'].hasError('required')">
                        Phone is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" value="Amman, Tla'a Al-Ali" matInput
                        formControlName="address" [(ngModel)]="userProfile.address">
                      <mat-error *ngIf="UpdateForm.controls['address'].hasError('required')">
                        Address is <strong>Required</strong>
                      </mat-error>
                    </div>
                  </div>

                  <!-- <div class="row mb-3">
                              <div class="col-sm-3">
                                  <h6 class="mb-0">Email</h6>
                              </div>
                              <div class="col-sm-9 text-secondary">
                                  <input type="email" class="form-control" value="example@domain.com" matInput formControlName="email"
                                  [(ngModel)]="userProfile.email" [readonly]="true">
                              </div>
                          </div> -->

                  <div class="row mb-3">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Password</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <input type="text" class="form-control" value="Password" matInput formControlName="password"
                        [(ngModel)]="defaultPass" placeholder="**********">
                    </div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 text-secondary">
                      <input (click)="updateUser()" type="button" class="btn btn-primary px-4" value="Save Changes">
                    </div>
                  </div> -->

                </div>
                <mat-dialog-actions align="end">
                  <button mat-button mat-dialog-close="no">Cancel</button>
                  <input (click)="updateUser()" type="button" class="btn btn-primary px-4" value="Save Changes">
                </mat-dialog-actions>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
</ng-template>



  <!--------------------------------------- Delete Dialog --------------------------------------->

  <ng-template #callDeleteDialog>
  <h2>Are You Sure you want to delete this item?</h2>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="no">No</button>
    <button mat-button mat-dialog-close="yes" >Yes</button>
  </mat-dialog-actions>

  </ng-template>
