<app-header></app-header>
<br><br><br><br><br><br>
<button class="btn btn-success" (click)="openCreateDialog()">Create New</button><br><br>

<input type="text" [value] ="first_Name" (change)="inputValue($event)">
<button (click)="search()" style="background-color: #008CBA; color:aliceblue">Search</button>
<br><br><br>

<table class="table1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Birthdate</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Image </th>
        <th>Opreation</th>
    </tr>
    <tr *ngFor ="let user of home.data">
        <td>{{user.first_Name}}</td>
        <td>{{user.first_Name}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.birthdate }}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
        <td><img src="../../../assets/images/{{user.image}}" style="height: 50px;width: 50px;"></td>

        <td>
          <button (click)="openDeleteDialog(user.id)" style="background-color: #f44336; color: aliceblue; border-radius: 12px;padding: 10px 24px; margin: 5px;">Delete</button>
          <button (click)="openUpdateDialog(user.id,user.first_Name,user.last_Name,user.gender,user.birthdate,user.address,user.image,user.phone)"style="border-radius: 12px;padding: 10px 24px;">Update</button>
        </td>
    </tr>
</table>

<ng-template #callCreateDialog>
  <mat-dialog-content class="mat-typography">

  <form [formGroup]="CreateForm">
    <ul>
      <li>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter First Name </mat-label>
            <input type="text" matInput formControlName="first_Name" [(ngModel)]="user.first_Name"
            placeholder="first name">
          </mat-form-field>
        </li>

        <li>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Last Name </mat-label>
            <input type="text" matInput formControlName="last_Name"
            placeholder="last name" [(ngModel)]="user.last_Name" >
          </mat-form-field>
        </li>
        <li>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Gender </mat-label>
            <input type="text" matInput formControlName="gender"
            placeholder="gender" [(ngModel)]="user.gender" >
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter the address </mat-label>
            <input type="text" matInput formControlName="address"
            placeholder="address" [(ngModel)]="user.address">
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Phone </mat-label>
            <input type="text" matInput formControlName="phone"
            placeholder="phone" [(ngModel)]="user.phone">
          </mat-form-field>
        </li>

        <li>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Enter Birthdate </mat-label>
            <input type="date" matInput formControlName="birthdate"
            placeholder="Birthdate" [(ngModel)]="user.birthdate">
          </mat-form-field>
        </li>

        <li>
          <input type="file" #file placeholder="Choose Image"
          formControlName="image" [(ngModel)]="user.image" (change)="uploadFile(file.files)"
          style="display:none;">
          <button class="btn btn-success"  (click)="file.click()">Upload Image</button>
        </li>
      </ul>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button [disabled]="!CreateForm.valid" mat-button [mat-dialog-close]="true"(click)="save()"  cdkFocusInitial>Save</button>
</mat-dialog-actions>
</ng-template>

<ng-template #callUpdateDialog>

    <form [formGroup]="updatForm">
        <ul>
          <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter First Name </mat-label>
                <input type="text" matInput formControlName="first_Name" [(ngModel)]="user.first_Name"
                placeholder="first name">
              </mat-form-field>
            </li>

            <li>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Last Name </mat-label>
                <input type="text" matInput formControlName="last_Name"
                placeholder="last name" [(ngModel)]="user.last_Name" >
              </mat-form-field>
            </li>
            <li>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Gender </mat-label>
                <input type="text" matInput formControlName="gender"
                placeholder="gender" [(ngModel)]="user.gender" >
              </mat-form-field>
            </li>

            <li>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter the address </mat-label>
                <input type="text" matInput formControlName="address"
                placeholder="address" [(ngModel)]="user.address">
              </mat-form-field>
            </li>

            <li>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Phone </mat-label>
                <input type="text" matInput formControlName="phone"
                placeholder="phone" [(ngModel)]="user.phone">
              </mat-form-field>
            </li>

            <li>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter Birthdate </mat-label>
                <input type="date" matInput formControlName="birthdate"
                placeholder="Birthdate" [(ngModel)]="user.birthdate">
              </mat-form-field>
            </li>

            <li>
              <input type="file" #file placeholder="Choose Image"
              formControlName="image" [(ngModel)]="user.image" (change)="uploadFile(file.files)"
              style="display:none;">
              <button class="btn btn-success"  (click)="file.click()">Upload Image</button>
            </li>
          </ul>
          <button mat-button [mat-dialog-close]="true" (click)="updateUser()">Update</button>

    </form>


</ng-template>

<ng-template #callDeleteDialog>
<h2>Are You Sure you want ti delete this item</h2>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="no">No</button>
  <button mat-button mat-dialog-close="yes" >yes</button>
</mat-dialog-actions>

</ng-template>

<app-footer></app-footer>
