<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<app-header></app-header>
<div class="body">
  <div class="container white z-depth-2">
    <ul class="tabs teal">
      <li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
      <li class="tab col s3"><a class="white-text" href="#register">register</a></li>
    </ul>
    <!-- Login Form -->
    <div id="login" class="col s12">
      <form class="col s12" [formGroup]="LoginForm">
        <div class="form-container">
          <h3 class="teal-text">Hello</h3>

          <div class="row">
            <mat-form-field class=" input-field col-12" appearance="fill">
              <mat-label>User identifier</mat-label>
              <input formControlName="user_identifier" matInput type="text" placeholder="User identifier">
              <mat-error *ngIf="LoginForm.controls['user_identifier'].hasError('required')">
                Please enter the user identifier
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class=" input-field col-12" appearance="fill">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="Password">
              <mat-error *ngIf="LoginForm.controls['password'].hasError('required')">
                Please enter password
              </mat-error>
            </mat-form-field>
          </div>
          <br>
          <div class="d-flex justify-content-center">
            <button class="btn waves-effect waves-light teal btnn" type="submit" name="action"
              [disabled]="!LoginForm.valid" (click)="submit()">Connect</button>
          </div>
          <br>
          <br>
          <!-- <div class="level options">
              <div class="checkbox level-left">
                <input type="checkbox" id="checkbox" [checked]="isChecked" [formControl]="isChecked" class="regular-checkbox">
                <label for="checkbox"></label>
                <span>Remember me</span>
              </div>
            </div> -->
        </div>
      </form>
    </div>

    <!-- Register Form  -->
    <div id="register" class="col s12">
      <form class="col s12" [formGroup]="CreateForm">
        <div class="form-container">
          <h3 class="teal-text">Welcome</h3>

          <div class="row">

            <mat-form-field class="  col-6" appearance="fill">
              <!-- <div class=""> -->
              <mat-label>Fisrt Name</mat-label>
              <input id="first_Name" matInput formControlName="first_Name">
              <mat-error *ngIf="CreateForm.controls['first_Name'].hasError('required')">
                First Name is <strong>required</strong>
              </mat-error>
              <!-- </div> -->
            </mat-form-field>

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input id="last_name" matInput formControlName="last_Name">

              <mat-error *ngIf="CreateForm.controls['last_Name'].hasError('required')">
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class=" col-12" appearance="fill">
              <mat-label>SSN</mat-label>
              <input id="ssn"  formControlName="ssn" matInput>
              <mat-error *ngIf="CreateForm.controls['ssn'].hasError('required')">
                Ssn is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


          <div class="row">

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label for="birthdate">Birthdate</mat-label>
              <input type="date" id="birthdate" matInput formControlName="birthdate">
            </mat-form-field>

            <div class="input_field radio_option col-6" style="margin-top: 15px;">
              <input type="radio" id="rd1" value="male" formControlName="gender">
              <label for="rd1">Male</label>
              <input type="radio" id="rd2" value="female" formControlName="gender" style="margin-left: 5px;">
              <label for="rd2">Female</label>
            </div>
          </div>

          <div class="row">
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Address</mat-label>
              <input  matInput formControlName="address">
            </mat-form-field>
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Phone</mat-label>
              <input id="phone" matInput formControlName="phone">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Email</mat-label>
              <input id="email" matInput formControlName="email">
              <mat-error
                *ngIf="CreateForm.controls['email'].hasError('email') && !CreateForm.controls['email'].hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class=" col-6" appearance="fill">
              <mat-label>Username</mat-label>
              <input id="username" matInput formControlName="username">
              <mat-error *ngIf="CreateForm.controls['username'].hasError('required')">
                username is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-6" appearance="fill">
              <mat-label>Password</mat-label>
              <input id="password" matInput formControlName="password">
              <mat-error
                *ngIf="CreateForm.controls['password'].hasError('minlength') && !CreateForm.controls['password'].hasError('required')">
                Please enter a Strong password
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-6" appearance="fill">
              <mat-label>Password Confirmation</mat-label>
              <input id="confirm_Password" matInput formControlName="confirm_Password"
                (change)="onChange()">
              <mat-error
                *ngIf="CreateForm.controls['confirm_Password'].hasError('minlength') && !CreateForm.controls['confirm_Password'].hasError('required')">
                Please enter strong password
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['confirm_Password'].hasError('required')">
                password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="CreateForm.controls['confirm_Password'].hasError('mismatch')">
                Password Not Matched
              </mat-error>
            </mat-form-field>
          </div>

          <!-- <div class="row">
            <div class="col s6">
              <div class="file-input d-flex justify-content-center">
                <input type="file" class="file" #file formControlName="image" [(ngModel)]="user.image"
                  (change)="uploadFile(file.files)">
                <label for="file" (click)="file.click()">Choose Your Image</label>
              </div>
            </div>
          </div> -->
          <div class="d-flex justify-content-center">
            <button class="btn waves-effect waves-light teal btnn" type="submit" name="action"
              [disabled]="!CreateForm.valid" (click)="save()">Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
