<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"><i class="fas fa-cogs"></i>{{'manageUsersRequests' | translate}}</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item active"><a routerLink="/admin/dashboard">{{'dashboard' | translate}}</a></li>
                            <li class="breadcrumb-item active">{{'manageUsersRequests' | translate}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>{{'usersrequests'|translate}}</h5>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i
                                                    class="feather icon-maximize"></i> maximize</span><span
                                                style="display:none"><i class="feather icon-minimize"></i>
                                                Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i
                                                    class="feather icon-minus"></i> collapse</span><span
                                                style="display:none"><i class="feather icon-plus"></i> expand</span></a>
                                    </li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i
                                                class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i>
                                            remove</a></li>
                                </ul>
                                <!-- <button type="button" class="btn  btn-primary"  ><i class="fas fa-plus"></i>  New</button> -->
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                 <tr>
                                    <th>{{'id'|translate}}</th>
                                    <th>{{'user'|translate}}</th>
                                    <th>{{'healthcenter'|translate}}</th>
                                    <th>{{'requestdate'|translate}}</th>
                                    <th>{{'vaccinetype'|translate}}</th>
                                    <th>{{'actions'|translate}}</th>
                                </tr>
                                <tr *ngFor="let userRequest of this.scheduleRestService.allRequestsData">
                                    <td>{{userRequest.id}}</td>
                                    <td>{{userRequest.first_Name}} {{userRequest.last_Name}}</td>
                                    <td>{{userRequest.center_name}}</td>
                                    <td>{{userRequest.request_date}}</td>
                                    <td><label class="badge badge-light-danger">{{userRequest.vaccine_Type}}</label>
                                    </td>
                                    <td>
                                        <button (click)="openDeleteDialog(userRequest.id)"
                                            class="btn  btn-danger">Delete</button>
                                        <button (click)="OpenAddScheduleDialog(userRequest.center_id,userRequest.vaccine_id,userRequest.request_date,userRequest.user_Id)"
                                            class="btn  btn-secondary">Add schedule</button>
                                    </td>
                                </tr>
                            </table>

                            <ng-template #callDeleteDialog>
                                <h6>Are you sure you want to delete this request?</h6>
                                <mat-dialog-actions align="end">
                                    <button mat-button mat-dialog-close="no">No</button>
                                    <button mat-button mat-dialog-close="yes">Yes</button>
                                </mat-dialog-actions>
                            </ng-template>

                            <ng-template #callAddScheduleDialog class="add_dialog">
                                <div class="map_form_container">
                                    <div tabindex="1" id="ol-map" class="map-container">
                                        <div id="popup"></div>
                                    </div>
                                    <form [formGroup]="CreateForm" class="form-contant_mod">
                                        <div class="row">

                                            <mat-form-field class="col-md-12" appearance="fill">
                                                <mat-label>Health center</mat-label>
                                                <select matNativeControl formControlName="center_id" (change)="handleHealthCenterchange()">
                                                    <!-- <option value="Default">Default</option> -->
                                                    <option *ngFor="let center of scheduleRestService.centersData"
                                                        [value]="center.id">{{center.center_Name}}</option>
                                                </select>
                                                <mat-error
                                                    *ngIf="CreateForm.controls['center_id'].hasError('required')">
                                                    Health center is <strong>required</strong></mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-12" appearance="fill">
                                                <mat-label>Vaccine type</mat-label>
                                                <select matNativeControl formControlName="vaccine_id">
                                                    <!-- <option value="Default">Default</option> -->
                                                    <option *ngFor="let vaccine of scheduleRestService.vaccinesData"
                                                        [value]="vaccine.vaccine_Id">{{vaccine.vaccine_Type}}</option>
                                                </select>
                                                <mat-error
                                                    *ngIf="CreateForm.controls['vaccine_id'].hasError('required')">
                                                    Vaccine type is <strong>required</strong></mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-12" appearance="fill">
                                                <mat-label>Dose</mat-label>
                                                <input readonly="true" matInput formControlName="dose"/>
                                                <mat-error
                                                    *ngIf="CreateForm.controls['dose'].hasError('required')">
                                                    Dose is <strong>required</strong></mat-error>
                                            </mat-form-field>

                                            <!-- <mat-form-field class="col-md-12" appearance="fill">
                                <input type="text"  matInput formControlName="REQUEST_DATE" placeholder="REQUEST_DATE">
                                <mat-error *ngIf="CreateForm.controls['REQUEST_DATE'].hasError('required')">
                                  Name is <strong>required</strong>
                                 </mat-error>
                            </mat-form-field> -->

                                            <mat-form-field appearance="fill">
                                                <mat-label>Start date</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="start_Time">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>

                                            <mat-form-field appearance="fill">
                                                <mat-label>End a date</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="end_Time">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>

                                            <!-- <mat-form-field class="example-full-width" appearance="fill" hidden="true">
                                <input type="text"  matInput formControlName="USER_ID" placeholder="USER_ID">
                                <mat-error *ngIf="CreateForm.controls['USER_ID'].hasError('required')">
                                  Name is <strong>required</strong>
                                 </mat-error>
                            </mat-form-field> -->
                                            <div class="actions">
                                              <button mat-button mat-dialog-close>Cancel</button>
                                                <button [disabled]="((!CreateForm.valid) || (scheduleRestService.vaccinesData.length==0))" mat-button
                                                (click)="scheduleRestService.createSchedule(CreateForm.value,true)" cdkFocusInitial value="Send Message" name="submit" class="">Add schedule</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
<!-- [ Main Content ] end -->
