
<div class="card-body p-0">
<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                
                <th> First Name</th>
                <th> Last Name</th>
                <th>Dose Date</th>
                <th>Dose Number</th>
                <th> vaccine Type </th>
                <th> health_Center </th>
                <th> Doctor Name</th>

            </tr>
        </thead>
        <tbody>
            <tr >
             
                <td>{{certificateRestService.data.first_Name}}</td>
                <td>{{certificateRestService.data.last_Name}}</td>
                <td>{{certificateRestService.data.dose_Date}}</td>
                <td>{{certificateRestService.data.dose_Number}}</td>
                <td>{{certificateRestService.data.vaccine_Type}}</td>
                <td>{{certificateRestService.data.health_Center}}</td>
                <td>{{certificateRestService.data.doctor_Name}}</td>
               
             </tr>
            
        </tbody>
    </table>
    
   
      
</div>
</div>