<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Edit home page</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="demo-button-container">
            <button mat-raised-button (click)="createDialog()" class="demo-button">Create New</button>
          </div>
            <div class="table1">
              <div class="table-header">
                <div class="header__item">header Logo</div>
                <div class="header__item">home Image</div>
                <div class="header__item">contact Image</div>
                <div class="header__item">about Image</div>
                <div class="header__item">about Text</div>
                <div class="header__item">Image one</div>
                <div class="header__item">Text 1</div>
                <div class="header__item">Image two</div>
                <div class="header__item">Text 2</div>
                <div class="header__item">Image three</div>
                <div class="header__item">Text 3</div>
                <div class="header__item">Option</div>

              </div>
              <div class="table-content">
                <div class="table-row" *ngFor="let element of home.ele">
                  <div class="table-data">{{element.header_logo}}</div>
                  <div class="table-data">{{element.home_Image}}</div>
                  <div class="table-data">{{element.contact_Image}}</div>
                  <div class="table-data">{{element.about_Image}}</div>
                  <div class="table-data">{{element.about_Text}}</div>
                  <div class="table-data">{{element.news_Imageone}}</div>
                  <div class="table-data">{{element.news_Textone}}</div>
                  <div class="table-data">{{element.news_Imagetwo}}</div>
                  <div class="table-data">{{element.news_Texttwo}}</div>
                  <div class="table-data">{{element.news_Imagethree}}</div>
                  <div class="table-data">{{element.news_Textthree}}</div>
                  <div class="table-data">
                    <button mat-raised-button (click)="updateDialog(element)" class="demo-button">Update</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


<div class="col-xl-6 col-md-12">
  <div class="card table-card">
      <div class="card-header">
          <h5>Vaccines Data</h5>
          <div class="card-header-right">
              <div class="btn-group card-option">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="feather icon-more-horizontal"></i>
                  </button>
                  <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                      <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                      <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                      <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                      <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                  </ul>

                  <button type="button" class="btn  btn-primary" ><i class="fas fa-plus"></i> Add New</button>
              </div>
          </div>
      </div>
      <div class="card-body p-0">
          <div class="table-responsive">
              <table class="table table-hover mb-0">
                  <thead>
                      <tr>
                          <th>Vaccine Type</th>
                          <th class="text-right">Operation</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let element of home.ele">
                          <td>
                              <div class="d-inline-block align-middle">

                                  <div class="d-inline-block">
                                      <h6>{{element.about_Text}}</h6>

                                      <!-- <p class="text-muted m-b-0">Graphics Designer</p> -->
                                  </div>
                              </div>
                          </td>
                          <td class="text-right">
                              <button type="button" class="btn  btn-secondary" (click)="updateDialog(element)">Edit</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>











<ng-template #callUpdateDailog>
  <div>
    <h1>Update </h1>
  </div>
  <mat-dialog-content>

  <form [formGroup]="homeElement" style="width:700px">
      <div class="container">
        <div class="row ">
          <input type="file" #file placeholder="Choose Image"
          formControlName="header_logo" [(ngModel)]="element.header_logo" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Header logo</button>

          <input type="file" #file placeholder="Choose Image"
          formControlName="contact_Image" [(ngModel)]="element.contact_Image" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Home Image</button>
        </div>

        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>About Us</mat-label>
            <input type="text" matInput formControlName="about_Text"style="margin: 5px;"
            [(ngModel)]="element.about_Text">
          </mat-form-field>

          <input type="file" #file placeholder="Choose Image"
          formControlName="about_Image" [(ngModel)]="element.about_Image" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">About Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News One</mat-label>
            <input type="text" matInput formControlName="news_Textone" style="margin: 5px;"
            [(ngModel)]="element.news_Textone">
          </mat-form-field>

          <input type="file" #file placeholder="Choose Image"
          formControlName="news_Imageone" [(ngModel)]="element.news_Imageone" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News One Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News Two</mat-label>
            <input type="text" matInput formControlName="news_Texttwo" style="margin: 5px;"
            [(ngModel)]="element.news_Texttwo">
          </mat-form-field>

          <input type="file" #file placeholder="Choose Image"
          formControlName="news_Imagetwo" [(ngModel)]="element.news_Imagetwo" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Two Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News Three</mat-label>
            <input type="text" matInput formControlName="news_Textthree" style="margin: 5px;"
            [(ngModel)]="element.news_Textthree">
          </mat-form-field>

          <input type="file" #file placeholder="Choose Image"
          formControlName="news_Imagethree" [(ngModel)]="element.news_Imagethree" (change)="uploadImage(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Three Image</button>
        </div>
      </div>
      <button (click)="update()">Save</button>
  </form>
  </mat-dialog-content>
  </ng-template>

  <ng-template #callCreateDailog>
    <div>
      <h1>Create New </h1>
    </div>
    <mat-dialog-content>

      <div class="container">
    <form [formGroup]="homeElement" style="width:700px">
          <div class="d-felx justify-content-center">
            <input type="file" #file placeholder="Choose Image"
            formControlName="header_logo" [(ngModel)]="element.header_logo" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Header logo</button>

            <input type="file" #file placeholder="Choose Image"
            formControlName="contact_Image" [(ngModel)]="element.contact_Image" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Home Image</button>
          </div>

          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>About Us</mat-label>
              <input type="text" matInput formControlName="about_Text"style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="about_Image" [(ngModel)]="element.about_Image" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">About Image</button>
          </div>


          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News One</mat-label>
              <input type="text" matInput formControlName="news_Textone" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imageone" [(ngModel)]="element.news_Imageone" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News One Image</button>
          </div>
          <div class="">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News Two</mat-label>
              <input type="text" matInput formControlName="news_Texttwo" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imagetwo" [(ngModel)]="element.news_Imagetwo" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Two Image</button>
          </div>
          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News Three</mat-label>
              <input type="text" matInput formControlName="news_Textthree" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imagethree" [(ngModel)]="element.news_Imagethree" (change)="uploadImage(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Three Image</button>
          </div>
          <button (click)="Create()">Save</button>
        </form>
      </div>
    </mat-dialog-content>
    </ng-template>
<!-- [ Main Content ] end -->


