<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10"><i class="fas fa-cogs"></i> Content Control</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                            <li class="breadcrumb-item active">Pages</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="demo-button-container">
            <!-- <button mat-raised-button (click)="createDialog()" class="demo-button">Create New</button> -->
          </div>

          <div class="body1" *ngFor="let element of home.ele">
            <div class="row">
              <div class="col-sm-12">
                  <button class="button.btn.btn-primary " style="width:170px;color: #1abc9c;     background: #2c3e50;" mat-raised-button (click)="updateDialog(element)"
                  >Edit
                  </button>
              </div>
            </div>
            <div class="container">
              <div class="main-body">

                    <div class="row gutters-sm">
                      <div class="col-md-8">
                        <div class="card mb-3">
                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-3 text-secondary">
                                <h6 class="mb-0 ">Header Logo </h6>
                              <img src="../../../../assets/home/{{element.header_Logo}}" alt="Admin" class="rounded-circle" width="100px" height="100px">
                              </div>

                              <div class="col-sm-3 text-secondary">
                                <h6 class="mb-0">Home Image</h6>
                              <img src="../../../../assets/home/{{element.home_Image }}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>

                              <div class="col-sm-3 text-secondary">
                                <h6 class="mb-0">Contact Image</h6>
                              <img src="../../../../assets/home/{{element.contact_Image}}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>

                            </div>
                            <hr>

                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">About Image</h6>
                                <img src="../../../../assets/home/{{element.about_Image}}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>
                              <div class="col-sm-6">
                                <h6 class="mb-0">About Text</h6>
                                {{element.about_Text}}
                              </div>
                            </div>
                            <hr>

                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">News One Image</h6>
                                <img src="../../../../assets/home/{{element.news_Imageone}}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>
                              <div class="col-sm-6">
                                <h6 class="mb-0">News One Text</h6>
                                {{element.news_Textone}}
                              </div>
                            </div>
                            <hr>

                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">News Two Image</h6>
                                <img src="../../../../assets/home/{{element.news_Imagetwo}}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>
                              <div class="col-sm-6">
                                <h6 class="mb-0">News Two Text</h6>
                                {{element.news_Texttwo}}
                              </div>
                            </div>
                            <hr>


                            <div class="row">
                              <div class="col-sm-3">
                                <h6 class="mb-0">News Three Image</h6>
                                <img src="../../../../assets/home/{{element.news_Imagethree}}" alt="Admin" class="rounded-circle" width="100" height="100px">
                              </div>
                              <div class="col-sm-6">
                                <h6 class="mb-0">News Three Text</h6>
                                {{element.news_Textthree}}
                              </div>
                            </div>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>


<!-- <div class="col-xl-6 col-md-12">
  <div class="card table-card">
      <div class="card-header">
          <h5>Vaccines Data</h5>
          <div class="card-header-right">
              <div class="btn-group card-option">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="feather icon-more-horizontal"></i>
                  </button>
                  <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                      <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                      <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                      <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                      <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                  </ul>

                  <button type="button" class="btn  btn-primary" ><i class="fas fa-plus"></i> Add New</button>
              </div>
          </div>
      </div>
      <div class="card-body p-0" *ngFor="let element of home.ele">
          <div class="table-responsive">
              <table class="table table-hover mb-0">
                  <thead>
                      <tr>
                          <th>Header Logo</th>
                          <th>Home Image</th>
                          <th>Contact Image</th>
                          <th>About Image</th>
                          <th>About Text</th>
                          <th>News one Image</th>
                          <th>News one Text</th>
                          <th>News Two Image</th>
                          <th>News Two Text</th>
                          <th>News Three Image</th>
                          <th>News Three Text</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td class="txt text-right">
                            <div class="d-inline-block align-middle">
                                <div class="d-inline-block">
                                    <h6>{{element.header_logo}}</h6>
                                </div>
                            </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.home_Image}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.contact_Image}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.about_Image}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.about_Text}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Imageone}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Textone}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Imagetwo}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Texttwo}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Imagethree}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="txt text-right">
                          <div class="d-inline-block align-middle">
                              <div class="d-inline-block">
                                  <h6>{{element.news_Imagethree}}</h6>
                              </div>
                          </div>
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn  btn-secondary" (click)="updateDialog(element)">Edit</button>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div> -->


<ng-template #callUpdateDailog>
  <div>
    <h1>Update </h1>
  </div>
  <mat-dialog-content>

  <form [formGroup]="homeElement" style="width:700px">
      <div class="container">
        <div class="row ">
          <input type="file" #file placeholder="Choose Image"
          formControlName="header_Logo" [(ngModel)]="element.header_Logo" (change)="uploadFile(file.files)"
          style="display: none;">
          <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Header logo</button>

          <input type="file" #file1 placeholder="Choose Image"
          formControlName="home_Image" [(ngModel)]="element.home_Image" (change)="uploadFile2(file1.files)"
          style="display: none;">
          <button (click)="file1.click()" class="btn btn-success" style="margin: 5px;">Home Image</button>
        </div>

        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>About Us</mat-label>
            <input type="text" matInput formControlName="about_Text"style="margin: 5px;"
            [(ngModel)]="element.about_Text">
          </mat-form-field>

          <input type="file" #filea placeholder="Choose Image"
          formControlName="about_Image" [(ngModel)]="element.about_Image" (change)="uploadAbout(filea.files)"
          style="display: none;">
          <button (click)="filea.click()" class="btn btn-success" style="margin: 5px;">About Image</button>

          <input type="file" #file3 placeholder="Choose Image"
          formControlName="contact_Image" [(ngModel)]="element.contact_Image" (change)="uploadContact(file3.files)"
          style="display: none;">
          <button (click)="file3.click()" class="btn btn-success" style="margin: 5px;">Contact Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News One</mat-label>
            <input type="text" matInput formControlName="news_Textone" style="margin: 5px;"
            [(ngModel)]="element.news_Textone">
          </mat-form-field>

          <input type="file" #file4 placeholder="Choose Image"
          formControlName="news_Imageone" [(ngModel)]="element.news_Imageone" (change)="upload1(file4.files)"
          style="display: none;">
          <button (click)="file4.click()" class="btn btn-success" style="margin: 5px;">News One Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News Two</mat-label>
            <input type="text" matInput formControlName="news_Texttwo" style="margin: 5px;"
            [(ngModel)]="element.news_Texttwo">
          </mat-form-field>

          <input type="file" #file5 placeholder="Choose Image"
          formControlName="news_Imagetwo" [(ngModel)]="element.news_Imagetwo" (change)="upload2(file5.files)"
          style="display: none;">
          <button (click)="file5.click()" class="btn btn-success" style="margin: 5px;">News Two Image</button>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>News Three</mat-label>
            <input type="text" matInput formControlName="news_Textthree" style="margin: 5px;"
            [(ngModel)]="element.news_Textthree">
          </mat-form-field>

          <input type="file" #file6 placeholder="Choose Image"
          formControlName="news_Imagethree" [(ngModel)]="element.news_Imagethree" (change)="upload3(file6.files)"
          style="display: none;">
          <button (click)="file6.click()" class="btn btn-success" style="margin: 5px;">News Three Image</button>
        </div>
      </div>
      <button (click)="update()">Save</button>
  </form>
  </mat-dialog-content>
  </ng-template>

  <ng-template #callCreateDailog>
    <div>
      <h1>Create New </h1>
    </div>
    <mat-dialog-content>

      <div class="container">
    <form [formGroup]="homeElement" style="width:700px">
          <div class="d-felx justify-content-center">
            <input type="file" #file placeholder="Choose Image"
            formControlName="header_logo" [(ngModel)]="element.header_logo" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Header logo</button>

            <input type="file" #file placeholder="Choose Image"
            formControlName="contact_Image" [(ngModel)]="element.contact_Image" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">Home Image</button>
          </div>

          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>About Us</mat-label>
              <input type="text" matInput formControlName="about_Text"style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="about_Image" [(ngModel)]="element.about_Image" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">About Image</button>
          </div>


          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News One</mat-label>
              <input type="text" matInput formControlName="news_Textone" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imageone" [(ngModel)]="element.news_Imageone" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News One Image</button>
          </div>
          <div class="">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News Two</mat-label>
              <input type="text" matInput formControlName="news_Texttwo" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imagetwo" [(ngModel)]="element.news_Imagetwo" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Two Image</button>
          </div>
          <div class="d-felx justify-content-center">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>News Three</mat-label>
              <input type="text" matInput formControlName="news_Textthree" style="margin: 5px;">
            </mat-form-field>

            <input type="file" #file placeholder="Choose Image"
            formControlName="news_Imagethree" [(ngModel)]="element.news_Imagethree" (change)="uploadFile(file.files)"
            style="display: none;">
            <button (click)="file.click()" class="btn btn-success" style="margin: 5px;">News Three Image</button>
          </div>
          <button (click)="Create()">Save</button>
        </form>
      </div>
    </mat-dialog-content>
    </ng-template>
<!-- [ Main Content ] end -->


