//when the add button on top of the table uncomment this:
button.btn.btn-primary{
    margin-left: 17% !important;
    margin-top: -2% !important;
    transition: none;
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    margin-top: 0px !important;
    margin-right: 10px;
}

.btn {
    padding: 4px;
    font-size: 12px;
     transition: none !important;
    transform: none !important;
    animation: none;
}

.btn-danger:hover {
    color: #fff;
    background-color: #e12e1c !important;
    border-color: #d62c1a !important;
}
.btn-danger {
    color: #fff;
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    transition: none;
    margin-left: 5px;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268 !important;
    border-color: #545b62 !important;
    background-image: none;
}

.pcoded-main-container_mod {
    margin-left: 69px !important;
}

.btn-primary_mod{
    width: 53px;
}
.for_margin{
    margin-bottom: 10px;
}

.pcoded-main-container_mod {
    margin-left: 69px !important;
}

.btn {
    padding: 4px;
    font-size: 12px;
     transition: none !important;
    transform: none !important;
    animation: none;
}
.btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    
}
.btn-primary:hover {
    color: #fff;
    background-color: #159a80;
    border-color: #148f77;
    
}
.form-control {
    width: 150%;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 105px !important;
}