#home{
    // background-image:url('../../../assets/life_care/images/slider-bg.png');
    background: linear-gradient(rgba(15, 23, 43, .6), rgba(15, 23, 43, .6)), url('../../../assets/life_care/images/slider-bg.png');
    // background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 30%)
}
.custom_p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom_h5{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}




//css vision & mission
.svg{
    width: 100%;
    height: 100%;
  }

  svg path:hover {
  transition-duration: 1.5s;
        fill: #52ab98;
      }

      text{
    display:none;
    fill:#fff;
    font-size:3em;
    font-family:arial;
  pointer-events:none;
  }

  text.sub-mission{
    display:none;
    fill:#fff;
    font-size:0.9em;
    font-family:arial;
  pointer-events:none;
  }

  text.sub-text{
    display:none;
    fill:#fff;
    font-size:1.2em;
    font-family:arial;
  pointer-events:none;
  }

  g > text{
    display:block;
  }

  g:hover > text{
    display:block;
  }





//   testmonial

.card {
	margin: 0 auto;
	border: none;
}
.card .carousel-item {
	min-height: 190px;
}
.card .carousel-caption {
	padding: 0;
	right: 15px;
	left: 15px;
	top: 15px;
	color: #3d3d3d;
	border: 1px solid #ccc;
	min-height:175px;
	padding: 15px;
}
.card .carousel-caption .col-sm-3 {
	display: flex;
	align-items: center;
}
.card .carousel-caption .col-sm-9 {
	text-align: left;
}
.card .carousel-control-prev, .card .carousel-control-next {
	color: #3d3d3d !important;
	opacity: 1 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
	background-image: none;
	color: #fff;
	font-size: 14px;
	background-color: #cd3a54;
	height: 32px;
	line-height: 32px;
	width: 32px;
}
.carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
	opacity: 0.85;
}
.carousel-control-prev {
	left: 40%;
	top: 110%;
}
.carousel-control-next {
	right: 40%;
	top: 110%;
}
.midline {
	width: 60px;
	border-top: 1px solid #d43025;
}
.carousel-caption h2 {
	font-size: 14px;
}
.carousel-caption h2 span {
	color: #cd3a54;
}
 @media (min-width: 320px) and (max-width: 575px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}
@media (min-width: 576px) and (max-width: 767px) {
.carousel-caption {
	position: relative;
}
.card .carousel-caption {
	left: 0;
	top: 0;
	margin-bottom: 15px;
}
.card .carousel-caption img {
	margin: 0 auto;
}
.card .carousel-caption h3, .card .carousel-caption small {
	text-align: center;
}
.carousel-control-prev {
	left: 35%;
	top: 105%;
}
.carousel-control-next {
	right: 35%;
	top: 105%;
}
}
@media (min-width: 767px) and (max-width: 991px) {
.card .carousel-caption h3 {
	margin-top: 0;
	font-size: 16px;
	font-weight: 700;
}
}

.carousel-caption{
  background-color: #ffffff!important;
}

.carousel-caption  :hover{
  background-color: #52ab98!important;
}
