

.icon {
    background: transparent !important;
    border-radius: 100%;
    width: 20px!important;
    height: 11px!important;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none!important;
}
.badge-danger {
    color: #fff!important;
    background-color: #e74c3c!important;
}
.pcoded-header .dropdown .dropdown-toggle .badge {
    position: absolute;
    top: -16px !important;
    right: -11px;
    font-size: 12px;
}

// a:hover {
//     color: #1abc9c;
//     text-decoration: underline;
// }
// .pcoded-navbar .pcoded-inner-navbar li > a {
//     text-align: left;
//     padding: 5px 10px;
//     margin: 0 0 5px;
//     display: block;
//     position: relative;
//     background: #3e5871 !important;
// }
ul.nav.pcoded-inner-navbar {
    background-color: #2c3e50 !important;
    height: 2047px !important;
    /* height: 3517px  !important; */
    
}

img.logo {
    width: 162px;
    margin-left: -38px;
}

ul.pro-body {
    background-color: #ffffff;
}
a.nav-link {
    cursor: pointer !important;
}
