<!-- <body class="" *ngFor="let element of home.ele"> -->
<body>

	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar  ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div ">
				<ul class="nav pcoded-inner-navbar ">

					<li class="nav-item pcoded-menu-caption">
						<label>{{'navigation'|translate}}</label>
					</li>

					<li class="nav-item">
						<a routerLink="/home" class="nav-link">
							<span class="pcoded-micon"><i class="feather icon-home"></i></span>
							<span class="pcoded-mtext">{{'siteHome'|translate}}</span>
						</a>
					</li>

					<li class="nav-item">
						<a (click)="goToMainDashboard()" class="nav-link ">
							<span class="pcoded-micon"><i class="fas fa-chart-line"></i></span>
							<span class="pcoded-mtext">{{'mainDashboard'|translate}}</span>
						</a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>{{'users'|translate}}</label>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="goToManageUsers()">
							<span class="pcoded-micon"><i class="fas fa-user-friends"></i></span>
							<span class="pcoded-mtext">{{'manageUsers'|translate}}</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link " (click)="goToManageUsersRequests()">
							<span class="pcoded-micon"><i class="fas fa-vial-circle-check"></i></span>
							<span class="pcoded-mtext">{{'manageUsersRequests'|translate}}</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link " (click)="goToManageSchedule()">
							<span class="pcoded-micon"><i class="fas fa-clipboard-list"></i></span>
							<span class="pcoded-mtext">{{'manageSchedules'|translate}}</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link " (click)="goToManageContactUs()">
							<span class="pcoded-micon"><i class="far fa-comments"></i></span>
							<span class="pcoded-mtext">{{'manageContactUs'|translate}}</span>
						</a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>{{'centersAndResources'|translate}}</label>
					</li>

					<li class="nav-item">
						<a class="nav-link " (click)="goToManageHealthCenter()">
							<span class="pcoded-micon"><i class="far fa-hospital"></i></span>
							<span class="pcoded-mtext">{{'manageHealthCenters'|translate}}</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="goToManageCentersVaccines()">
							<span class="pcoded-micon"><i class="fas fa-briefcase-medical"></i></span>
							<span class="pcoded-mtext">{{'manageCentersVaccine'|translate}}</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " (click)="goToManageVaccine()">
							<span class="pcoded-micon"><i class="fas fa-syringe"></i></span>
							<span class="pcoded-mtext">{{'manageVaccines'|translate}}</span>
						</a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>{{'pages'|translate}}</label>
					</li>

					<li class="nav-item">
						<a class="nav-link " (click)="goToEditHomePage()">
							<span class="pcoded-micon"><i class="far fa-newspaper"></i></span>
							<span class="pcoded-mtext">{{'contentControl'|translate}}</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
		<div class="m-header">
			<a class="mobile-menu" id="mobile-collapse" (click)="burgerToggelCode()" ><span></span></a>
			<a routerLink="/home" class="b-brand">
				<!-- ========   change your logo hear   ============ -->
				<!-- <img src="(../../../assets/home/{{element.header_Logo}}" alt="" class="logo"> -->
				<img src="../../../assets/life_care/images/logo.png" alt="" class="logo">
				<img src="./assets/flat-able-lite-dashboard/images/logo-icon.png" alt="" class="logo-thumb">
			</a>
			<a href="#!" class="mob-toggler">
				<i class="feather icon-more-vertical"></i>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="switch">
				<input id="language-toggle" [checked]="langBoolean" (change)="changeLanguage($event)" class="check-toggle check-toggle-round-flat" type="checkbox">
				<label for="language-toggle"></label>
				<span class="on">AR</span>
				<span class="off">EN</span>
			  </div>
			<ul class="navbar-nav ml-auto">
				<li>


				</li>
				<li>
					<div>
				<li><a (click)="signout()"><i class="feather icon-log-out m-r-5"></i> Logout</a></li>
		</div>
		</li>

		</ul>
		</div>
	</header>
</body>
<app-dashboard-content *ngIf="ContentToggle"></app-dashboard-content>
<app-dashboard-manage-users *ngIf="ManageUsersToggle"></app-dashboard-manage-users>
<app-manage-vaccine *ngIf="ManageVaccineToggle"></app-manage-vaccine>
<app-manage-health-center *ngIf="ManageHealthCenterToggle"></app-manage-health-center>
<app-manage-contact-us *ngIf="ManageContactUsToggle"></app-manage-contact-us>
<app-manage-schedules *ngIf="ManageScheduleToggle"></app-manage-schedules>
<app-edit-home-page *ngIf="EditHomePageToggle"></app-edit-home-page>
<app-manage-center-vaccine *ngIf="ManageCentersVaccinesToggle"></app-manage-center-vaccine>
<app-manange-users-requests *ngIf="ManageUsersRequests"></app-manange-users-requests>
