<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10"><i class="fas fa-cogs"></i>{{'manageCentersVaccine' | translate}}</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/home"><i class="feather icon-home"></i></a></li>
                      <li class="breadcrumb-item active"><a routerLink="/admin/dashboard">{{'dashboard' | translate}}</a></li>
                        <li class="breadcrumb-item active">{{'manageCentersVaccine' | translate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
      <div class="card table-card">
          <div class="card-header">
              <h5>{{'manageHealthCenterVaccine'|translate}}</h5>
              <div class="card-header-right">
                <div class="btn-group card-option">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="feather icon-more-horizontal"></i>
                    </button>
                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                    </ul>
                    <button type="button" class="btn  btn-primary" (click)="openCreateDialog()" ><i class="fas fa-plus"></i> Create</button>
                </div>
              </div>
          </div>
          <div class="card-body p-0">
              <div class="table-responsive">
                  <table class="table table-hover mb-0">
                      <thead>
                          <tr>
                            <th>{{'nOfVaccine'|translate}}</th>
                            <th>{{'expireDate'|translate}}</th>
                            <th>{{'centerName'|translate}}</th>
                            <th>{{'vaccineType'|translate}}</th>
                            <th>{{'operation'|translate}}</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let health of centerVaccineRestService.data" >
                            <td>{{health.number_Of_Vaccine}}</td>
                            <td>{{health.expire_Date }}</td>
                            <td>{{health.center_Name}}</td>
                            <td>{{health.vaccine_Type}}</td>
                            <td>
                              <button type="button" class="btn  btn-danger" (click)="openDeleteDialog(health.id)">Delete</button>
                              <button type="button" class="btn  btn-secondary"
                              (click)="openUpdateDialog(health)">Update</button>
                            </td>

                          </tr>
                      </tbody>
                  </table>

                <ng-template #callUpdateDialog>
                  <form [formGroup]="UpdateForm">
                    <div class="row width_update">      
                        <mat-form-field class="col-md-12" appearance="fill">
                          <mat-label># Of Vaccine</mat-label>
                          <input type="number" matInput formControlName="number_Of_Vaccine">
                          <mat-error
                          *ngIf="CreateForm.controls['number_Of_Vaccine'].hasError('required')">
                          Number Of vaccine is <strong>required</strong>
                        </mat-error>
                        </mat-form-field>
                        
                          <mat-form-field class="col-md-12" appearance="fill" >
                            <mat-label>Expire Date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="expire_Date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="UpdateForm.controls['expire_Date'].hasError('required')">
                              Expire date is <strong>Required</strong>
                            </mat-error>
                           </mat-form-field>
                        
                        <!-- <li>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Center Id</mat-label>
                            <input type="number" matInput formControlName="center_Id"
                            [(ngModel)]="health.center_Id">
                          </mat-form-field>
                        </li>
                        <li>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Vaccine Id</mat-label>
                            <input type="number" matInput formControlName="vaccine_Id"
                            [(ngModel)]="health.vaccine_Id">
                          </mat-form-field>
                        </li> -->
                      </div>
                    <button [disabled]="!UpdateForm.valid" mat-button [mat-dialog-close]="true" (click)="update()">Update</button>
                  </form>
                </ng-template>



  <ng-template #callDeleteDialog>
      <h6>Are you sure you want to delete this item?</h6>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no">No</button>
        <button mat-button mat-dialog-close="yes">Yes</button>
      </mat-dialog-actions>
  </ng-template>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>


<ng-template #callCreateDialog>
<h2 mat-dialog-title>Add Center Vaccine</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="CreateForm" class="example-form">
      <ul>
        <li>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Number Of Vaccine</mat-label>
            <input type="number" matInput formControlName="number_Of_Vaccine" placeholder="Number Of Vaccine">
            <mat-error
            *ngIf="CreateForm.controls['number_Of_Vaccine'].hasError('required')">
            Number Of vaccine is <strong>required</strong>
          </mat-error>
          </mat-form-field>
        </li>
        <li>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Expire Date</mat-label>
            <input type="date" matInput formControlName="expire_Date" placeholder="Expire Date">
            <mat-error
            *ngIf="CreateForm.controls['expire_Date'].hasError('required')">
            Expire date is <strong>required</strong>
          </mat-error>
          </mat-form-field>
        </li>

        <div>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>Health Center</mat-label>
            <select matNativeControl formControlName="center_Id">
                <!-- <option value="Default">Default</option> -->
                <option *ngFor="let center of manageHealthCenterRestService.data"
                    [value]="center.id">{{center.center_Name}}</option>
            </select>
            <mat-error
                *ngIf="CreateForm.controls['center_Id'].hasError('required')">
                Health center is <strong>required</strong></mat-error>
        </mat-form-field>
        </div>

        <div>
          <mat-form-field class="col-md-12" appearance="fill">
            <mat-label>VaccineType</mat-label>
            <select matNativeControl formControlName="vaccine_Id">
                <!-- <option value="Default">Default</option> -->
                <option *ngFor="let vac of manageVaccineRestService.data"
                    [value]="vac.id">{{vac.vaccine_Type}}</option>
            </select>
            <mat-error
                *ngIf="CreateForm.controls['vaccine_Id'].hasError('required')">
                Vaccine type is <strong>required</strong></mat-error>
        </mat-form-field>
        </div>

      </ul>
    </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
<button mat-button mat-dialog-close>Cancel</button>
<button [disabled]="!CreateForm.valid" mat-button [mat-dialog-close]="true"(click)="save()"  cdkFocusInitial>Save</button>
</mat-dialog-actions>
</ng-template>
