.page-footer {
  margin-top: 100px;
  position: relative;
  display: block;
  padding-top: 80px;
  padding-bottom: 16px;
  background-color: #2D3B38;
  color: #fff;
}
.page-footer h5 {
  font-weight: 500;
  margin-bottom: 16px;
  color: #fff;

}
