.heading h2 {
    font-size: 35px;
    text-transform: none;
    font-weight: 400;
    letter-spacing: -1px;
    color: #333;
    margin: 5px 0;
    padding: 0px;
    position: relative;
    padding-top: 80px;
}

#submitButton {
    padding: 15px 30px;
    background:  #52ab98 ;
    color: #fff;
    border-radius: 50px;
    margin-top: 10px;
    transition: ease all 1s;
}

input#submitButton {
    border-bottom: none;
}