.pcoded-content {
    position: relative;
    display: block;
    padding: 26px;
    margin-right: -50% !important;
}
.col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 10% !important;
    margin-top: 3% !important;
}
button.btn.btn-primary {
    margin-left: 11% !important;
    margin-top: -2% !important;
}